.price-block-component {
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.price-title {
  font-size: 12px;
  color: darkgrey;
  margin-bottom: 5px;
}

.price-amount {
  font-size: 36px;
  color: black;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}

.currency {
  font-size: 18px;
  margin-right: 5px;
}

.amount {
  font-weight: 400;
}

.price-saving {
  font-size: 18px;
  color: red;
}