.App {
  padding: 20px 80px 20px 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  width: 150px;
  height: auto;
}

.hotel-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}

.sort-label {
  margin-right: 5px;
}
